<% provide(:title, "Home") %>
<div class="main">
  <div class="container">
    <div class="mx-auto">
      <div class="form-wrap">
        <div class="form-group text-center">
          <h2 class="logo-img mx-auto"></h2>
          <h3 class="form-sub-color">写真を共有できる多機能SNSです</h3>
          <h4><%= link_to "このアプリについて詳しく", about_path %></h4>
        </div>
      </div>
      <div class="mx-auto col-md-4 offset-md-4">
        <div class="form-wrap">
          <%= link_to "ログイン画面へ", new_user_session_path, class:"btn btn-primary w-100"%>
          <%= link_to "アカウントの登録画面へ", new_user_registration_path, class:"btn btn-info w-100 mt-3"%>
          <br>
          <%= form_for(@user, url: session_path(:user)) do |f| %>
            <%= f.hidden_field :email, value: "test@mail" %>
            <%= f.hidden_field :password, value: "password" %>
            <%= f.submit "テストユーザーでログイン", class:"btn btn-success mt-3 w-100"%>
          <% end %>
          <%= link_to "Facebookでログイン", omniauth_authorize_path(:user, :facebook), class:"btn btn-primary mt-3 w-100" %>
        </div>
      </div>
    </div>
  </div>
</div>
