<div class="userBox">
<div class="row">
  <div class="col-md-2 col-sm-2">
    <%= link_to user do %>
      <figure>
        <%= image_tag avatar_url(user), class: "round-img", style: "width:70px; height:70px;" %>
      </figure>
    <% end %>
  </div>
  <div class="col-md-6 col-sm-4">
    <%= link_to user do %>
      <h5><%= user.user_name %></h5>
    <% end %>
    <p><%= user.name %><p>
    <p><%= user.bio %></p>
  </div>
  <div class="d-flex align-items-center col-md-4 col-sm-4">
    <% if user_signed_in? %>
      <%= render "partial/follow_form", user: user %>
    <% end %>
  </div>
</div>
</div>
