<div class="container">
  <div class="row">
    <% users.each do |user| %>
      <div class="col-4 col-sm-4 col-md-4">
        <div class="card">
          <a data-toggle="modal" data-target="#photo-<%= user.id %>" class="modal-open">
            <%= image_tag avatar_url(user), class: "card-img-top" %>
          </a>
          <%= render "partial/user_modal", user: user %>
          <div class="card-body text-center">
            <h5 class="card-title"><%= user.user_name%></h5>
            <p class="card-text"><%= user.bio %></p>
            <%= render "partial/follow_form", user: user %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
