<% provide(:title, "foot_stamps") %>
<div class="container text-center">
  <h3>足跡一覧</h3>
  <%= link_to "足跡の設定", edit_user_registration_path %>
  <% if @foot_stamps %>
    <% @foot_stamps.each do |foot_stamp| %>
      <div class="userBox">
        <div class="row">
          <div class="offset-md-1 col-md-1 d-flex align-items-center">
            <%= foot_stamp.from_user.user_name %>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <%= link_to foot_stamp.from_user do %>
              <figure>
                <%= image_tag avatar_url(foot_stamp.from_user), class: "post-profile-icon m-3" %>
              </figure>
            <% end %>
          </div>
          <div class="col-md-5 d-flex align-items-center">
            <span class="mr-3">
              <%= "#{foot_stamp.from_user.user_name}:" %>
            </span>
            <%= link_to foot_stamp.from_user do %>
              <%= "#{foot_stamp.from_user.user_name}からの足跡があります" %>
            <% end%>
          </div>
          <div class="col-md-2 d-flex align-items-center">
            <%= time_ago_in_words(foot_stamp.updated_at).upcase%>前
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="offset-md-4">
    <%= paginate @foot_stamps %>
  </div>
</div>
