<% provide(:title, "notification") %>
<div class="container text-center">
  <h3>通知</h3>
  <%= link_to "全て既読にする", notification_check_user_path, method: :put %>
  <% @notifications.each do |notification| %>
    <% if notification %>
      <div class="userBox">
        <div class="row">
          <div class="offset-md-1 col-md-1 d-flex align-items-center">
            <%= notification.from_user.user_name %>
          </div>
          <div class="col-md-1 d-flex align-items-center">
            <%= link_to notification.from_user do %>
              <figure>
                <%= image_tag avatar_url(notification.from_user), class: "post-profile-icon m-3" %>
              </figure>
            <% end %>
          </div>
          <div class="col-md-5 d-flex align-items-center">
            <% if notification.direct_message %>
              <%= link_to direct_message_space_path(notification.direct_message.direct_message_space) do %>
                <%= "#{notification.from_user.user_name}からダイレクトメッセージが届いています" %>
              <% end %>
            <% end %>
            <% if notification.like %>
              <%= link_to post_path(notification.like.post) do %>
                <%= "#{notification.from_user.user_name}からいいねが届いています" %>
              <% end %>
            <% end %>
            <% if notification.comment %>
              <%= link_to post_path(notification.comment.post) do %>
                <%= "#{notification.from_user.user_name}からコメントが届いています" %>
              <% end %>
              <%= "　#{notification.from_user.user_name}：#{notification.comment.comment}" %>
            <% end %>
            <% if notification.relationship %>
              <%= link_to user_path(notification.from_user) do %>
                <%= "#{notification.from_user.user_name}からフォローされました" %>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-2 d-flex align-items-center">
            <%= time_ago_in_words(notification.created_at).upcase%>前
          </div>
          <div class="col-md-2 d-flex align-items-center">
            <% unless notification.checked %>
              <span class="badge badge-danger">N</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="offset-md-4">
    <%= paginate @notifications %>
  </div>
</div>
