<% provide(:title, "User" + @user.id.to_s) %>
<div class="profile-wrap">
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag avatar_url(@user), class: "round-img" %>

      <%= render 'partial/follow_form' if user_signed_in? %>
      <% unless current_user?(@user) %>
        <%= form_tag direct_message_spaces_path, method: :post do %>
          <input name="user_id" type="hidden" value="<%= @user.id %>" />
          <%= submit_tag 'チャットを開く' %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <h1><%= @user.user_name %></h1>

        <% if @user == current_user %>
          <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
          <button type="button" class="setting" data-toggle="modal" data-target="#exampleModal"></button>
        <% end %>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">設定</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="list-group text-center">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
                <%= link_to "キャンセル", "#", class: "list-group-item list-group-item-action", "data-dismiss": "modal" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="stats">
        <%= render 'partial/stats' %>
      </section>
      <div class="row">
        <p>email:</p><%= @user.email if @user.email %>
      </div>
      <div class="row">
        <p>bio:</p><%= @user.bio if @user.bio %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="posts">
    <% if @user.posts.any? %>
      <% @user.posts.each do |post|%>
        <div class="imageBox">
          <a data-toggle="modal" data-target="#photo-<%= post.id %>" class="modal-open">
            <%= image_tag post.photos.first.image.url(:medium), class: "card-img-top" %>
          </a>
          <%= render "photo_modal", post: post %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
