<% provide(:title, "#" + @hashtag.hashname) %>
<div class="container">
  <div class="profile-wrap">
    <div class="row">
      <div class="col-md-4 text-center">
      </div>
      <div class="col-md-8">
        <div class="row">
          <h1><%= "#" + @hashtag.hashname %></h1>
        </div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="#tab1" class="nav-link active" data-toggle="tab"><%= "投稿#{@hashtag.posts.count}件" %></a>
          </li>
          <li class="nav-item">
            <a href="#tab2" class="nav-link" data-toggle="tab"><%= "投稿者#{@hashtag.posted_users.count}人" %></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="tab-content">
  <div id="tab1" class="tab-pane active">
    <div class="container">
      <%= render "partial/photos_index", posts: @posts %>
    </div>
  </div>
  <div id="tab2" class="tab-pane">
    <%= render "users/user_index", users: @hashtag.posted_users %>
  </div>
</div>
