<button type="button" class="btn　common-btn edit-profile-btn" data-toggle="modal" data-target="#unfollowModal">フォロー中</button>
<div class="modal fade" id="unfollowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="list-group text-center">
        <%= image_tag avatar_url(@user), class: "round-img mx-auto", style: "width:70px; height:70px;" %>
        <p><%= "#{@user.user_name}さんのフォローをやめますか？" %></p>
        <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
                     html: { method: :delete }) do |f| %>
          <%= f.submit "フォローをやめる", class: "list-group-item list-group-item-action" %>
        <% end %>
        <%= link_to "キャンセル", "#", class: "list-group-item list-group-item-action", "data-dismiss": "modal" %>
      </div>
    </div>
  </div>
</div>
