<div class="chatPage">
  <header class="header">
  <div class="chatPartner">
    <%= image_tag avatar_url(@dm_space_user), class: "round-img" %>
    <div class="text-center">
      <%= @dm_space_user.user_name %>
    <div>
  </div>
  </header>
  <%= render "direct_message_spaces/direct_messages" %>
  <div class='container'>
    <div class="row parts" id="direct-message-form-post-<%= @direct_message.id.to_s %>">
      <%= form_with model: @direct_message, html: { class: "messageInputForm_input" }, remote: true do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :direct_message_space_id, value: params[:id] %>
        <%= f.text_field :message, class: "form-control comment-input border-0", placeholder: "メッセージを入力 ...", autocomplete: :off %>
        <%= f.fields_for :notification do |n| %>
          <%= n.hidden_field :to_user_id, value: @dm_space_user.id %>
          <%= n.hidden_field :from_user_id, value: current_user.id %>
        <% end %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
<script>
  var channel = pusher.subscribe('dm-channel');
  channel.bind('new-dm', function(data) {
      let user_name = data.user_name;
      let message = data.message;
      let div = document.getElementById('dmArea');
      div.innerHTML += `
        <div class="message selfMessage d-flex align-items-center">
          <img class="post-profile-icon" src="https://www.gravatar.com/avatar/a3abaf7b52db6e8220ce0c94c095e18f.jpg" %>
          <span class="mr-2">
            ${user_name}
          </span>
          <div class="commonMessage selfMessage">
            <div>
              <div>${message}</div>
            </div>
          </div>
        </div>`;
  });
</script>
